<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>
        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">ohraymaster@163.com</a>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>快乐学习，认真做事。</p>
          <p>从2010年至今，以多种角色参与了多个跨国合作项目的开发。</p>
         <!--  <p>I am bouncy, cocky, sometimes talkative and sometimes quiet</p> -->
        </div>

        <ul class="tag-box inline">
          <!--<li><div>Email: ohraymaster@163.com</div></li>-->
          <li><a>Tel:+86 15818177957</a></li>
          <!--<li><div>Addr: Dalian China </div></li>-->
        </ul>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>
        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">HSBC GBM (Global Banking and Markets 汇丰投资部)</h3>
          <h4 class="resume-item-details">开发工程师  &bull; 中国广州 &bull; 2017年4月 - 至今</h4>
          <p class="resume-item-copy">服务于汇丰投行，构建维护股票期货交易系统。</p>
          <ul class="resume-item-list">
            <li>设计完善CI/CD自动发布流程</li> 
            <li>设计实现后台逻辑</li>
            <li>数据挖掘分析：Latency，volume, data quality 等(包括但不限于)</li>
          </ul>
          <!--<p class="resume-item-copy">If you're going to copy paste markup, or edit it, just be sure to keep the appropriate classnames on your new elements for styling purposes.</p>-->

        </div><!-- end of resume-item -->
        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">IBM CIO BT/IT (Chief Information Office Business Transformation and Information Technology)</h3>
          <h4 class="resume-item-details">开发工程师 &bull; 中国大连 &bull; 2014年10月 - 2017年4月</h4>
          <p class="resume-item-copy">此职位是服务于IBM， 构建客户关系管理系统（CRM）, 该系统是IBM的核心销售系统。</p>
          <ul class="resume-item-list">
            <li>设计实现CI/CD pipeline 完善自动发布流程</li> 
            <li>设计实现后台逻辑</li>
            <li>提供mobile接口</li>
            <li>数据迁移</li>
            <li>前端JS页面</li>
          </ul>
          <!--<p class="resume-item-copy">If you're going to copy paste markup, or edit it, just be sure to keep the appropriate classnames on your new elements for styling purposes.</p>-->

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">新南威尔士IT中心 (The University of New South Wales)</h3>
          <h4 class="resume-item-details">软件开发 - 兼职 &bull; 2012年12月 &mdash; 2013年6月</h4>
          <p class="resume-item-copy">科研，大学</p>
          <ul class="resume-item-list">
            <li>开发大学内部程序</li>
            <li>支持校园网络</li>
            <li>数据迁移</li>
          </ul>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
<!--         <div class="resume-item">
          <h3 class="resume-item-title">哈尔滨人才服务局</h3>
          <h4 class="resume-item-details">技术支持 &bull; 2009年12月 &mdash; 2010年12月</h4>
          <p class="resume-item-copy">政府公共服务，公益</p>
          <ul class="resume-item-list">
            <li>官网技术支持</li>
          </ul>
        </div><!-- end of resume-item --> 

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">新南威尔士大学， 工程师学院(QS 排名: 46 &bull; 悉尼, 澳大利亚)</h3>
          <h4 class="resume-item-details">信息技术硕士 &bull; 2011年9月 &mdash; 2013年9月</h4>
          <p class="resume-item-copy">专业认证: 澳大利亚计算机协会</p>
          <ul class="resume-item-list">
            <li>1. 电子交易 (企业信息化/面向服务架构)</li>
            <li>2. 多种数据库系统实现</li>
          </ul>
        </div>

          <div class="resume-item">
          <h3 class="resume-item-title">哈尔滨师范大学, 哈尔滨, 中国</h3>
          <h4 class="resume-item-details">计算机科学学士 &bull; 班长 &bull; 2005年9月 &mdash; 2009年9月</h4>
          <ul class="resume-item-list">
            <li>1. 企业网站软件开发</li>
            <li>2. 网络</li>
            <li>3. 教学技能 (教师资格)</li>
          </ul>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>
        <div class="resume-item">
          <h3 class="resume-item-title">GFIX 投资交易系统</h3>
          <h4 class="resume-item-details">开发工程师 &bull; 2017 Apr. &mdash; 至今 </h4>
          <p class="resume-item-copy"></p>
          <ul class="resume-item-list">
            <!-- <li>1. Developing & deploy cloud-based Continuous Integration System(skills: java, shell, python, docker, jenkins, ruby)
            </li>
            <li>2. Developing the SugarCRM system(skills: php,html5, css3, javascript, backbone,bootstrap,db2)</li>
            <li>3. Providing upgrade safe solutions for the CRM project</li> -->
            <li>2017 Java Developer加入</li>
            <li>工作职责：后台逻辑，数据迁移, 参与设计开发持续集成测试环境.</li>
            <li>正在使用的项目相关技术和工具  JAVA, shell, python, jenkins, Splunk, linux(sunos redhat)</li>
          </ul>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">SalesConnect</h3>
          <h4 class="resume-item-details">开发工程师 &bull; 2014 Oct. &mdash; 2017 Apr.</h4>
          <p class="resume-item-copy">CIO是负责驱动和组织IBM业务及信息化转型以及技术转型的技术咨询部门。 IBM CRM (SalesConnect) 项目是IBM CIO的战略项目,支撑全球IBM所有销售及销售支持团队，除标准CRM规则以外还有着复杂的业务逻辑，项目采用敏捷开发模式，是从需求分析、开发、测试（手动＋自动）、数据集成、数据库优化与性能管理、持续集成、持续部署为一体的实施团队。 SalesConnect包括30个上下游系统.</p>
          <ul class="resume-item-list">
            <!-- <li>1. Developing & deploy cloud-based Continuous Integration System(skills: java, shell, python, docker, jenkins, ruby)
            </li>
            <li>2. Developing the SugarCRM system(skills: php,html5, css3, javascript, backbone,bootstrap,db2)</li>
            <li>3. Providing upgrade safe solutions for the CRM project</li> -->
            <li>2014年以Web Developer加入到该项目. 现为该项目DevOps团队成员</li>
            <li>负责前后台逻辑, 包括实现UI设计, 构造soap/restful接口, 实施数据迁移, 创建维护持续集成测试环境.</li>
            <li>正在使用的项目相关技术和工具 SOAP/RESTful Test Automation Frameworks, PHP, JAVA, HTML5, JS, DB2, Backbone.js, handbars, jQuery, underscore.js, elasticsearch, redis, shell, python, jenkins, urban code deploy and etc.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">持续集成开发测试系统</h3>
          <h4 class="resume-item-details">DevOps开发工程师 &bull; 2014年 &mdash; 至今</h4>
          <p class="resume-item-copy">基于IBM的云服务器， 整合工具Jenkins和容器技术docker来实现大型项目的持续集成测试。完善Agile开发的关键环节。其中涉及到了IBM测试的所有环节AVT，BVT，CVT，FVT，GVT，TVT，SVT，PVT。</p>
           <ul class="resume-item-list">
            <!-- <li>1. Developing & deploy cloud-based Continuous Integration System(skills: java, shell, python, docker, jenkins, ruby)
            </li>
            <li>2. Developing the SugarCRM system(skills: php,html5, css3, javascript, backbone,bootstrap,db2)</li>
            <li>3. Providing upgrade safe solutions for the CRM project</li> -->
            <li>2015年参与DevOps团队开发工作</li>
            <li>负责IBM CIO大型项目持续集成测试环境, 持续发布环境的创建维护</li>
            <li>正在使用的项目相关技术和工具: Linux OS, Load Balance, Python, Shell, PHP, Jenkins, UrbanCode Deployment, CastIron. </li>
          </ul>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">移动端XML数据快速压缩还原</h3>
          <h4 class="resume-item-details">软件开发 &bull; 2012年 &mdash; 2013年</h4>
          <p class="resume-item-copy">因为移动端大量数据是通过XML进行存储，在澳大利亚国家通讯技术和Green Pea软件资助鼓励下，我们开始研究XML数据压缩还原技术。C++实现XML快速压缩还原算法， 满足所有实时通讯要求。</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Naïve BayesText Categorization</h3>
          <h4 class="resume-item-details">Software Engineer &bull; Apr, 2012 &mdash; Jul, 2012</h4>
          <p class="resume-item-copy">Keywords: Java, machine learning, algorithm, naïve Bayes’ theorem. I use 18846 News documents to build the application. The 60% of them are learned and the other 40% are tested. The common word list is built and used in the project. The project used the Naïve Bayes classification VNB to predicate a document is more like a certain category</p>
        </div>


        <div class="resume-item">
          <h3 class="resume-item-title">SCEDoodleservice</h3>
          <h4 class="resume-item-details">Software Engineer &bull; Mar, 2011 &mdash; Jun, 2011</h4>
          <p class="resume-item-copy">Web-based poll service. CSEDoodle offers some popular functions and provides a RESTful application programming interface (API). Users easily create new polls that correspond to the content of the Web page can simply pre-fill the CSE-Doodle wizard through an HTML link or an HTML form.  </p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Language</h4>
          <p class="resume-item-copy">Mandarin, English (IELTS L8.5 R8 W6.5 S7)</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Professional Skills</h4>
          <ul class="resume-item-list">
            <li>OS: Linux(CentOS, RedHat, Ubuntu), Windows</li>
            <li>Language: C, C++, Java(SCJP Band A 2008), Python, PHP</li>
            <li>DB: Oracle, Mysql, DB2</li>
            <li>Tool: Docker, git, Jenkins, Elasticsearch, backbone.js. jQuery.js, Handlebars.js, Boost, Boostrap, Shell</li>
          </ul>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://raysxysun.github.io">@OHRAYMASTER</a>. Fork me on <a href="https://github.com/RaySxySun">GitHub</a></p>
        <p class="footer-line"> (￣ˇ￣)↗ This is my live resume </p>
      </footer>

    </div>

  </body>

</html>
